@import "../../styles/variables";
@import "../../styles/generalClasses";

.forecast {
  display: grid;
  gap: 30px;
  &__header {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

  }
  &__title {
    font-size: $fz-title;
    font-weight: 700;

    span {
      font-weight: 500;
      opacity: 0.7;
    }
  }

  &__temp {
    position: relative;
    font-size: $fz-temp;
    font-weight: 500;

    &::after {
      content: 'o';
      position: absolute;
      left: calc(100% + 10%);
      top: -7%;
      font-size: 60%;
    }
  }

  &__weather {
    font-size: $fz-text;
  }

  &__temperature-range {
    display: flex;
    font-size: $fz-text;
    column-gap: 20px;
  }

  &__high-temp {
  }

  &__low-temp {

  }
}

.days {
  display: flex;
  overflow: hidden;
  @extend %bg-block;

&__list {
    min-width: 100%;
    display: flex;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    column-gap: 20px;
    padding-bottom: 15px;

    &::-webkit-scrollbar {
      height: 10px;
      background-color: $main-bg;
      border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background: $scroll;
    }

    &::-webkit-scrollbar-track {
      border-radius: 5px;
      background-color: $main-bg;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    flex: 0 0 50px;
  }

  &__icon {
    width: 60px;
  }

  &__time, &__temp {
    font-size: $fz-text;
  }
}

.sun-time {
  display: grid;
  max-width: 350px;
  grid-template-columns: repeat(2,1fr);
  width: 100%;
  margin:  0 auto;
  gap: 20px;
  &__item{
    position: relative;
    @extend %bg-block;
  }
  &__time{
    padding-top: 10px;
    font-size: $fz-text;
    font-weight: 500;
  }
}
