@import "../../styles/variables";
@import "../../styles/generalClasses";

.forecast {
  padding-top: 25px;
  position: relative;
  display: grid;
  gap: 30px;
  @media (max-width: 500px) {
    gap: 20px;
  }
  &__close{
    position: absolute;
    top: 10px;
    right: 10px;
  }
  &__header {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    img {
      transform: scale(1.3);
    }
    @media (max-width: 500px) {
      img {
        width: 60px;
        height: 60px;
      }
    }
  }

  &__title {
    font-size: var(--fz-title);
    font-weight: 700;
    span {
      font-weight: 500;
      opacity: 0.7;
    }
  }

  &__temp {
    position: relative;
    font-size: var(--fz-temp);
    font-weight: 500;

    &::after {
      content: 'o';
      position: absolute;
      left: calc(100% + 10%);
      top: -7%;
      font-size: 60%;
    }
  }

  &__weather {
    font-size: var(--fz-text);
  }

  &__temperatureRange {
    display: flex;
    font-size: var(--fz-text);
    column-gap: 20px;
  }

  &__highTemp {
  }

  &__lowTemp {

  }
}

.days {
  display: flex;
  overflow: hidden;
  @extend %bg-block;

  &__list {
    min-width: 100%;
    display: flex;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    column-gap: 20px;
    padding-bottom: 15px;
    @media (max-width: 500px) {
      column-gap: 10px;
    }

    &::-webkit-scrollbar {
      height: 10px;
      background-color: $main-bg;
      border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background: $scroll;

    }

    &::-webkit-scrollbar-track {
      border-radius: 5px;
      background-color: $main-bg;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    flex: 0 0 50px;
  }

  &__icon {
    width: 60px;
  }

  &__time, &__temp {
    font-size: var(--fz-text);
  }
}

.sunTime {
  display: grid;
  max-width: 350px;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  margin: 0 auto;
  gap: 20px;
  @media (max-width: 500px) {
    gap: 10px;
  }

  &__item {
    position: relative;
    @extend %bg-block;
  }

  &__time {
    padding-top: 10px;
    font-size: var(--fz-text);
    font-weight: 500;
  }
}
