$main-bg: #f3fcfc;
$block-bg: #ebf5fc;
$loader: #5b86e5;
$hover: #298cce;
$white: #ffffff;
$scroll: #0894c7;
$bg: #46afde;

$bg-gradient: linear-gradient(to bottom, #2980b9, #6dd5fa, #ffffff);
$bg-gradient-block: linear-gradient(to bottom, #36d1dc, #5b86e5);

$fz-title: 35px;
$fz-temp: 55px;
$fz-text: 18px;
$fz-value: 28px;