@import "../../styles/variables";
@import "../../styles/generalClasses";

.cards{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
  @media (max-width: 500px){
     gap: 10px;
  }
}
.card{
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: left;
  gap: 15px;
  @extend %bg-block;
  &__title{
    display: flex;
    align-items: center;
    gap: 9px;
    svg{
      width: 20px;
      height: 20px;
    }
    span{
      font-size: var(--fz-text);
      font-weight: 700;
    }
    @media (max-width: 500px){
      gap: 5px;
      svg{
        width: 15px;
        height: 15px;
      }
    }
  }
  &__value{
    font-size: var(--fz-value);
    font-weight: 500;
    flex:1 1 auto;
  }
  &__description{
    font-size: var(--fz-text);
    line-height: 1.4;
    font-weight: 500;
  }
}