@import "../../styles/variables";
// header
.header {
  margin-bottom: 25px;
  &__title {
    display: block;
    font-size: var(--fz-title);

    span {
      font-weight: 700;
    }

    &:not(:last-child) {
      margin-bottom: 20px;
    }

  }

  &__desc {
    max-width: 350px;
    text-align: justify;
    margin: 0 auto;
    color: $white;
    font-size: var(--fz-text);
  }
}